/*************** GENERAL ***************/

:root {
    --background-color: #191919;
    --color-slightly-black: #383838;
    --text-color: #ffffff;
    --yellow-color: #E2B023;
    --modal-color: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

html,
body {
    background-color: var(--modal-color);
    height: 100%;
    max-width: 100%;
    margin: 0;
    color: var(--background-color);
    font-family: "Cormorant Garamond", serif;
}


#template_bios {
    position: relative;
    text-align: center;
}

/*************** IMG ***************/

img {
    width: 90%;
    margin-top: 2em;
    position: relative;
}

/*************** BACK BUTTON ***************/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0.1em;
    display: inline-block;
}

li {
    display: inline;
}

li a {
    color: var(--background-color);
    text-align: center;
}

/*************** TEXT ***************/

.long-bio-heading {
    padding: 1em 2em 0em;
}

.long-bio {
    text-align: justify;
    padding: 2em 2em 0em;
    line-height: 25px;
}

.long-bio-2 {
    text-align: justify;
    padding: 2em;
    line-height: 25px;
}

.name {
    position: absolute;
    margin-top: 5em;
    z-index: 2;
    padding: em 1em 1em;
    font-size: 24px;
    padding-left: 40%;
    padding-top: 30%;
}


