/*************** GENERAL ***************/

:root {
    --background-color: #191919;
    --color-slightly-black: #383838;
    --text-color: #ffffff;
    --yellow-color: #E2B023;
    --modal-color: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

html,
body {
    background-color: var(--background-color);
    height: 100%;
    max-width: 100%;
    margin: 0;
    color: #ffffff;
    font-family: "Cormorant Garamond", serif;
}

/*************** VERTICAL-LINE ***************/

.vl {
    border-left: 1px solid white;
    height: 200px;
}


/*************** NAV ***************/

nav {
    display: inline-block;
    width: 100%;
    font-size: 18px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 2em;
}

.back-link {
    float: left;
}

.projects-link {
    float: right;
}

.underline {
    border-bottom: 2px solid currentColor;
    display: inline-block;
    line-height: 0.85;
}




/*************** MAIN ***************/

/*************** BIO BOX ***************/

.description-box {
    text-align: justify;
    padding: 2em 9% 0em;
    line-height: 45px;
}

.description-box p {
    line-height: 33px;
}

.title {
    font-size: 40px;
    margin-bottom: 1em;
}


/*************** GALLERY ***************/

.project-image {
    padding-top: 4em;
    width: 90%;
    left: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*************** GALLERY END ***************/

/*--------------------------------------- FOOTER */

footer {
    text-align: center;
}

.contact-footer {
    line-height: 2em;
    padding: 5em 3em 1em;
}

/*************** MEDIA QUERIES ***************/

@media only screen and (max-width: 700px) {

    .technique {
        display: none;
    }
}


@media screen and (max-height: 450px) {

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;

    }
}

@media (min-width: 768px) {

    .project-image {
        width: 40%;
    }

    .long-description {
        width: 50%;
        left: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: 1em;
        display: block;
    }

    .start-box {
        margin-left: 2em;
    }

}
