/*************** GENERAL ***************/

:root {
    --background-color: #191919;
    --color-slightly-black: #383838;
    --text-color: #ffffff;
    --yellow-color: #E2B023;
    --modal-color: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

html,
body {
    background-color: var(--background-color);
    height: 100%;
    max-width: 100%;
    margin: 0;
    color: var(--text-color);;
    font-family: "Cormorant Garamond", serif;
    scroll-behavior: smooth;
}

h2 {
    font-weight: 300;
    font-size: 2em;
}

h3 {
    font-weight: 300;
    font-size: 20px;
}

.project-box h3 {
    font-size: 1em;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

/*************** NAVIGATION ***************/

#navbar {
    transition: top 0.6s ease;
    -webkit-transition: top 0.6s ease;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em 1em 0em;
    position: fixed;
}

#navbar-bio {
    transition: top 0.6s ease;
    -webkit-transition: top 0.6s ease;
    top: 0;
    width: 100%;
    padding: 2em 1em 0em;
    color: black;
}

#navbar-details {
    transition: top 0.6s ease;
    -webkit-transition: top 0.6s ease;
    top: 0;
    width: 100%;
    padding: 2em 1em 0em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0.1em;
    display: inline-block;
}

ul a {
    margin-right: 1em;
}



li {
    display: inline;
}

li a {
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
}

.site-segment {
    float: right;
    display: inline-block;
}


.site-title {
    letter-spacing: 3px;
    /*    display: inline-block;*/
}

.menu {
    display: inline-block;
    float: right;
}

.menu img {
    height: 20px;
    width: auto;
}

/*--------------------------------------- MENU MODAL */

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--modal-color);
}

.overlay-content {
    position: relative;
    top: 35%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: black;
}

.overlay a {
    padding: 8px 0px 15px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
    font-size: 20px;
}

.overlay a:hover,
.overlay a:focus {
    color: var(--text-color);
}

.overlay .closebtn {
    position: absolute;
    top: 1em;
    right: 2em;
    font-size: 20px;
}


/*--------------------------------------- MENU MODAL END */

ul {
    padding: 10px;
}

.text {
    display: none;
}

#menu {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
}

#menu:checked ~ .text {
    display: block;
}

.text {
    position: absolute;
}

.column {
    float: left;
    /*width: 33.33%;*/
    width: 100%;
    padding: 3em;
}

#myNav {
    z-index: 6;
}



/*************** VERTICAL-LINE ***************/

.vl {
    width: 1px;
    background-color: var(--text-color);
    height: 100%;
    position: fixed;
    left: 50%;
    z-index: -10;
}

.vl-short {
    border-left: 1px solid var(--text-color);
    height: 100px;
}

.projects_wrap {
    padding: 0 9%;
}

.heading {
    margin: 10px 0 10px 0;
}

/*************** Hero ***************/

.intro {
    position: absolute;
    margin-top: 50vh;
    text-align: right;
    right: 10%;
}

.intro-text {
    border-right: 1px solid var(--text-color);
    padding-right: 1em;
}

.profileimg {
    display: none;
    width: 100%;
}

#background-image {
    background-image: url(../img/background.jpg);
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*    opacity: 0.6;*/
}

/*--------------------------------------- SCROLL ARROW *
Scroll Down Arrow
A PEN BY Matthew Hirsch */

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 40px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid var(--text-color);
    border-right: 2px solid var(--text-color);
    z-index: 9;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation: fade_move_down 4s ease-in-out infinite;
    animation: fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@-moz-keyframes fade_move_down {
    0% {
        -moz-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -moz-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

/*************** MAIN ***************/

main {
    margin-bottom: 10em;
}


/*************** BIO BOX ***************/

.bio-text {
    padding: 30vh 10% 2em;
    background-color: var(--background-color);
    text-align: center;
    line-height: 4em;
    margin: 0 0 30vh;
}

.bio-text p {
    padding-bottom: 2em;
}


.btn {
    margin: 5em 0 2em;
    padding: 10px 20px;
    color: var(--text-color);
    border: 1px solid var(--text-color);;
    background-color: var(--background-color);
}

.btn:hover {
    background-color: var(--text-color);
    color: black;
}


/*************** ARTICLE ALIGN ***************/

article {
    text-align: center;
}

/*************** PROJECT BOX ***************/

.project-box {
    background-color: var(--background-color);
    /*    position: relative;*/
    line-height: 3em;
    color: var(--text-color);
    margin-top: 3em;
}

a {
    text-decoration: none;
}

.project-box img {
    width: 60%;
    left: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.project-box img:hover {
    filter: opacity(.8);
}

.technique {
    text-align: left;
    font-size: 16px;
    margin-top: 10px;
    padding: 0 5%;
}


/*--------------------------------------- FORM */

form {
    margin: 3em 0;
    text-align: left;
}

.mailform {
    display: inline-block;
    margin-right: 3em;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid var(--text-color);
    color: white;
    background-color: var(--background-color);
    padding: 1em 0;
    margin-bottom: 2em;
    /*    float: right;*/
}

.send-btn {
    color: white;
    border: 1px solid var(--text-color);
    padding: 1em 2em;
    background-color: var(--background-color);
}

/*--------------------------------------- FOOTER */

footer {
    text-align: center;
    background-color: var(--background-color);
    padding-top: 2em;
}

#bio-footer {
    background-color: var(--text-color);
    color: black;
}

.details-footer {
    margin: 1em 0;
}

.details-footer a {
    text-decoration: none;
    color: var(--text-color);
}

.contact-footer {
    line-height: 2em;
    padding: 2em 20% 0;
}

footer h2 {
    margin-bottom: .5em;
}

footer h4 {
    font-weight: 300;
}

.grid-text {
    grid-area: nr2;
}

.grid-form {
    grid-area: nr1;
}

/*--------------------------------------- BIO PAGE */

#bio-html {
    background-color: var(--text-color);
}

#bio-body {
    background-color: var(--text-color);
}

#bio-main {
    color: black;
    padding: 0 10%;
}

.biopage-img {
    width: 45%;
    margin: 0 auto;
}

.biopage-text {
    text-align: left;
}

.profile-pic {
    position: relative;
    width: 100%;
}

.biopage-text p {
    margin: 1em 0;
}

/*--------------------------------------- DETAILS PAGE */

.vl-details {
    border-left: 1px solid var(--text-color);
    height: 125px;
}

.description-box {
    text-align: justify;
    padding: 2em 9% 0em;
    line-height: 45px;
}

.description-box p {
    line-height: 33px;
    margin-top: 2em;
}

.title {
    font-size: 40px;
    margin-bottom: .2em;
}


.project-image {
    padding-top: 4em;
    width: 90%;
    left: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


<<<<<<< HEAD
/*--------------------------------------- DETAILS PAGE - GALLERY */





/* The grid: Four equal columns that floats next to each other */
.gallery {
    margin: auto;
    width: 80%;
}

.column {
    float: left;
    width: 100px;
    padding: 10px;
    height: 100px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
    object-fit: cover;
    width: 100px;
    ;
    height: 100px;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container {
    position: relative;
    height: 400px;
    padding-bottom: 3em;
    /*    display: none;*/
}

.container img {
    max-width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: var(--text-color);
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: var(--text-color);
    font-size: 35px;
    cursor: pointer;
}

.image-list {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 10px;
    margin: auto;
    width: 450px;

}

/*--------------------------------------- DETAILS PAGE - GALLERY  END*/


/*--------------------------------------- FOOTER */
=======<<<<<<< HEAD=======
/*--------------------------------------- DETAILS PAGE - GALLERY */
> > > > > > > origin/AndANewOne

/* The grid: Four equal columns that floats next to each other */
.gallery {
    margin: auto;
    width: 80%;
}

.column {
    float: left;
    width: 100px;
    padding: 10px;
    height: 100px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container {
    position: relative;
    height: 400px;
    padding-bottom: 3em;
    /*    display: none;*/
}

.container img {
    max-width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: var(--text-color);
    font-size: 20px;
}

.image-list {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 10px;
    margin: auto;
    width: 450px;

}

/*--------------------------------------- DETAILS PAGE - GALLERY  END*/


/*--------------------------------------- FOOTER */
> > > > > > > origin/image_gallery
/*************** MEDIA QUERIES ***************/

@media screen and (max-height: 450px) {

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;

    }
}

@media only screen and (max-width: 768px) {

    .technique {
        display: none;
    }

    ul img {
        display: none;
    }

    ul .sub-logo {
        display: block;
    }
}


@media only screen and (min-width: 768px) {

    .project-image {
        width: 40%;
    }

    .long-description {
        left: 0;
        bottom: 0;
        margin-right: 1em;
        display: block;
        padding-top: 1em;
        margin-top: 0em;
    }

    .description-box p{
        margin-top: 0em;
    }

    .start-box {
        margin-left: 2em;
    }

    .artwork-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #bio-main {
        margin-top: 15vh;
    }

    .biopage-grid {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 1fr 2fr;

    }

    .footer-grid {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "nr1 nr2"
    }

    .grid-text {
        padding: 16% 10% 0;
    }

    .contact-footer {
        padding: 2em 10% 0;
        margin-top: 5em;
    }

    .text {
        display: inline-block;
        position: static;
    }

    label {
        display: none;
    }

    .bio-text p {
        font-size: 1.5em;
    }

    .project-box img {
        width: 90%;
    }

    .profileimg {
        display: inline;
        position: relative;
        width: 70%;
    }

    .intro {
        right: 60%;
        margin-top: 30vh;
    }

    .intro-text {
        position: relative;
        right: -200px;
        top: -70px;
    }

    .timeline {
        width: 1px;
        margin: 0 auto 0 1rem;
        padding-top: 3rem;
        /* background: #ffffff; */
        display: flex;
        flex-direction: column;
    }

    /* .timeline:last-child {
      padding-bottom: 3rem;
    } */

    #chronology ul li {
        list-style: none;
    }

    /* .time-block is the div wrapping the li/article content */
    .time-block {
        padding: 1rem;
        margin-left: 4rem;
        border-radius: 5px;
        width: 25vw;
        height: 30em;
        /* transition: all 0.5s ease-in-out; */
    }

    .timeline {
        margin: 0 auto;
    }


    /* reorient odd timeline divs to the left */
    #chronology .timeline:nth-child(odd) .time-block {
        align-self: flex-end;
        margin-right: 4rem;
    }


    #chronology .timeline:nth-child(odd) h3::before {
        content: "";
        padding: none;
        border: none;
        border-radius: none;
        margin-right: 0;
    }


}

@media screen and (min-width: 1200px) {
    html {
        font-size: 18px;
    }

    .page-wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }

    .time-block {
        width: 25vw;
    }
}

/*///// CLASSES //////*/
