/*************** GENERAL ***************/



/*************** COLORS ***************/

:root {
    --background-color: #191919;
    --color-slightly-black: #383838;
    --text-color: #ffffff;
    --yellow-color: #E2B023;
    --modal-color: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

html,
body {
    background-color: var(--background-color);
    height: 100%;
    max-width: 100%;
    margin: 0;
    color: #ffffff;
}

/*************** VERTICAL-LINE ***************/

.vl {
    border-left: 1px solid white;
    position: absolute;
    left: 50%;
    height: 300%;
    top: 0;
    bottom: 0;
    z-index: -2;
}

/*************** MAIN ***************/


/*************** BACKGROUND IMAGE MOBILE ***************/

#background-image {
    background-image: url(../img/_MG_5422.JPG);
    max-width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*    opacity: 0.6;*/
}


/*************** ARTICLE ALIGN ***************/

article {
    text-align: center;
}

/*************** PROJECT BOX ***************/

.project-box {
    background-color: var(--background-color);
    position: relative;
    margin-top: 10em;
    line-height: 2em;
}

.project-box img {
    width: 80%;
    left: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* -------------------- Technique text must be aligned with the img on top of it, use flex-box.
No usage of margin-right, or text-align! */

.technique {
    text-align: right;
    font-size: 13px;
    margin: 10px 30px 0px
}


/*************** NAVIGATION TEST ***************/

#navbar {
    transition: top 0.6s ease;
    -webkit-transition: top 0.6s ease;
    position: fixed;
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0.1em;
    display: inline-block;
}

li {
    display: inline;
}

li a {
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
}

.site-segment {
    float: right;
    display: inline-block;
}


.site-title {
    letter-spacing: 2px;
    font-size: 28px;
    /*    display: inline-block;*/
}

.menu {
    display: inline-block;
    float: right;
    margin-top: 12px;
}

/*--------------------------------------- MENU MODAL */

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--modal-color);
}

.overlay-content {
    position: relative;
    top: 35%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: black;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
    font-size: 20px;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 1em;
    right: 2em;
    font-size: 20px;
}

@media screen and (max-height: 450px) {

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;

    }
}

/*--------------------------------------- MENU MODAL END */

ul {
    padding: 10px;
}

.text {
    display: none;
}

#menu {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    padding: 1em;
}

#menu:checked ~ .text {
    display: block;
}

.text {
    position: absolute;
}

.column {
    float: left;
    /*width: 33.33%;*/
    width: 100%;
    padding: 3em;
}
