/*************** GENERAL ***************/



/*************** COLORS ***************/

:root {
    --background-color: #191919;
    --color-slightly-black: #383838;
    --text-color: #ffffff;
    --yellow-color: #E2B023;
    --modal-color: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

html,
body {
    background-color: var(--background-color);
    height: 100%;
    max-width: 100%;
    margin: 0;
    color: #ffffff;
    font-family: "Cormorant Garamond", serif;
}

h2 {
    font-weight: 300;
    font-size: 2em;
}

h3 {
    font-weight: 300;
    font-size: 1em;
}

.project-box h3 {
    font-size: 1em;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

/*************** VERTICAL-LINE ***************/

.vl {
    width: 1px;
    background-color: white;
    height: 100%;
    position: fixed;
    left: 50%;
    z-index: -10;
}

/*************** Hero ***************/

.intro {
    position: absolute;
    margin-top: 50vh;
    text-align: right;
    right: 10%;
}

.intro-text{
    border-right: 1px solid white;
    padding-right: 1em;
}

.profileimg{
    display: none;
    width: 100%;
}

/*************** MAIN ***************/

main {
    margin-bottom: 10em;
}


/*************** BIO BOX ***************/

.bio-text {
    padding: 13em 15% 1em;
    background-color: var(--background-color);
    text-align: center;
    line-height: 4em;
    margin-bottom: 15em;
}


.btn {
    margin: 5em 0 2em;
    padding: 1em 2em;
    color: var(--text-color);
    border: 1px solid white;
    background-color: var(--background-color);
}

.btn:hover {
    background-color: white;
    color: black;
}


/*************** BACKGROUND IMAGE MOBILE ***************/

#background-image {
    background-image: url(../img/_MG_5422.JPG);
    max-width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*    opacity: 0.6;*/
}


/*************** ARTICLE ALIGN ***************/

article {
    text-align: center;
}

/*************** PROJECT BOX ***************/

.project-box {
    background-color: var(--background-color);
    /*    position: relative;*/
    margin-top: 4em;
    line-height: 3em;
    color: var(--text-color);

}


a {
    text-decoration: none;
}

.project-box img {
    width: 60%;
    left: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* -------------------- Technique text must be aligned with the img on top of it, use flex-box.
No usage of margin-right, or text-align! */

.technique {
    text-align: right;
    font-size: 13px;
    margin: 10px 30px 0px
}


/*************** NAVIGATION TEST ***************/

#navbar {
    transition: top 0.6s ease;
    -webkit-transition: top 0.6s ease;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em 1em 0em;
    position: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0.1em;
    display: inline-block;
}

ul a{
    margin-right: 1em;
}



li {
    display: inline;
}

li a {
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
}

.site-segment {
    float: right;
    display: inline-block;
}


.site-title {
    letter-spacing: 3px;
    /*    display: inline-block;*/
}

.menu {
    display: inline-block;
    float: right;
    margin-top: 12px;
}

/*--------------------------------------- MENU MODAL */

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--modal-color);
}

.overlay-content {
    position: relative;
    top: 35%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: black;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
    font-size: 20px;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 1em;
    right: 2em;
    font-size: 20px;
}


/*--------------------------------------- MENU MODAL END */

ul {
    padding: 10px;
}

.text {
    display: none;
}

#menu {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    padding: 1em;
}

#menu:checked ~ .text {
    display: block;
}

.text {
    position: absolute;
}

.column {
    float: left;
    /*width: 33.33%;*/
    width: 100%;
    padding: 3em;
}

#myNav{
    z-index: 6;
}

/*--------------------------------------- FORM */

form {
    margin: 3em 0;
    text-align: left;
}

.mailform {
    display: inline-block;
    margin-right: 3em;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid white;
    color: white;
    background-color: var(--background-color);
    padding: 1em 0;
    margin-bottom: 2em;
}

.send-btn {
    color: white;
    border: 1px solid white;
    padding: 1em 2em;
    background-color: var(--background-color);
}

/*--------------------------------------- FOOTER */

footer {
    text-align: center;
    background-color: var(--background-color);
    padding-top: 2em;
}

.details-footer {
    margin: 1em 0;
}

.contact-footer {
    line-height: 2em;
    padding: 2em 10% 0;
}

footer h2 {
    margin-bottom: .5em;
}

footer h4 {
    font-weight: 300;
}

.grid-text {
    grid-area: nr2;
}

.grid-form {
    grid-area: nr1;
}

/*--------------------------------------- DETAILS PAGE */




/*--------------------------------------- MEDIA QUERIES */

@media only screen and (max-width: 700px) {

    .technique {
        display: none;
    }

    ul img {
        display: none;
    }
}


@media screen and (max-height: 450px) {

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;

    }
}

@media only screen and (min-width: 768px) {

    .footer-grid {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "nr1 nr2"
    }

    .grid-text {
        padding: 16% 10% 0;
    }

    .contact-footer {
        padding: 2em 10% 0;
    }

    .text {
        display: inline-block;
        position: static;
    }

    label{
        display: none;
    }

}








/* Main section */

/* Media Queries */

@media (min-width: 768px) {
    .bio-text {
        margin-bottom: 4em;
    }

    .bio-text p {
        font-size: 1.5em;
    }

    .project-box img {
        width: 100%;
    }

    .profileimg{
        display: inline;
        position: relative;
        width: 70%;
    }

    .intro {
        right: 60%;
        margin-top: 30vh;
    }

    .intro-text{
        position: relative;
        right: -200px;
        top: -70px;
    }

    .timeline {
        width: 1px;
        margin: 0 auto 0 1rem;
        padding-top: 3rem;
        /* background: #ffffff; */
        display: flex;
        flex-direction: column;
    }

    /* .timeline:last-child {
      padding-bottom: 3rem;
    } */

    #chronology ul li {
        list-style: none;
    }

    /* .time-block is the div wrapping the li/article content */
    .time-block {
        width: 70vw;
        padding: 1rem;
        margin-left: 2.25rem;
        border-radius: 5px;
        /* transition: all 0.5s ease-in-out; */
    }

    .timeline {
        margin: 0 auto;
    }

    .time-block {
        width: 25vw;
        margin-left: 2rem;
    }

    /* reorient odd timeline divs to the left */
    #chronology .timeline:nth-child(odd) .time-block {
        align-self: flex-end;
        margin-right: 2rem;
    }


    #chronology .timeline:nth-child(odd) h3::before {
        content: "";
        padding: none;
        border: none;
        border-radius: none;
        margin-right: 0;
    }


}

@media screen and (min-width: 1200px) {
    html {
        font-size: 18px;
    }

    .page-wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }

    .time-block {
        width: 25vw;
    }
}

/*///// CLASSES //////*/
